@import url('https://fonts.googleapis.com/css?family=Pattaya|Open+Sans:300,400&subset=cyrillic');
* {
  margin: 0;
}

html {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: normal;
  /* line-height: 1.45;  */
}

/* h2 { 
  font: 400 22px/26px 'Ubuntu', Arial, sans-serif;
  color: #2b2b2b;
  margin: 0 0 12px;
}

.h2 .span {
  display: block;
  float: left;
  width: 38px;
  height: 13px;
  background: #10a09b;
  margin: 7px 13px 0 0;
} */

/* Здесь будет head */

.headone {
  /* position: absolule; */
  height: 100px;
  width: 100%;
  background-color: #fff;
  padding: 19px 0;
}

.head_logo {
  /*   padding-left: 50px; */
  line-height: 35px;
  font-size: 30px;
  font-family: "NautilusPompiliusRegular";
  /* background-color: #ee1; */
  /* font-family: 'Pattaya', sans-serif; */
  /* background-image: url(/img/phone.png); */
  /* background-repeat: no-repeat; */
  /* background-position: center left; */
}

.head_logo strong {
  display: block;
  color: #425DAC;
  /* text-transform: uppercase; */
  font-weight: normal;
  font-size: 45px;
}

.tel_one {
  margin-left: 20px;
  /* height: 50px; */
  line-height: 20px;
  font-size: 16px;
  /* background-color: #ee1; */
  display: block;
  text-align: right;
  background-image: url(/img/call-start.png);
  background-repeat: no-repeat;
  background-position: center left;
}

.tel_one strong {
  display: block;
  color: #425DAC;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

.tel_one small {
  font-size: 14px;
}

/* конец head*/

/* начало menu*/

.nav-bar {
  width: 100%;
  height: 50px;
  background: #2c3e50;
  /* padding: px 0; */
  box-sizing: border-box;
  border-bottom: 1px solid #1a252f;
}

.nav-bar ul {
  list-style: none;
  /* width: 570px; */
  height: 100%;
  margin: 0 auto;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  -webkit-padding-start: 0px;
  /* РАЗОБРАТЬ!!!!! */
}

.nav-bar ul li {
  width: 120px;
  float: left;
  margin-right: 10px;
  text-align: center;
  padding: 15px 0;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.4s ease;
}

.nav-bar ul li:last-child {
  margin-right: 0;
}

.nav-bar ul li:hover {
  color: #18bc9c;
}

.nav-bar ul li:hover .mega-menu {
  color: #fff;
}

.nav-bar ul li .mega-menu p:hover {
  color: #18bc9c;
}

.mega-menu {
  position: absolute;
  top: 49px;
  left: 0;
  width: 750px;
  height: 250px;
  background: #2c3e50;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  box-sizing: border-box;
  padding: 20px;
  z-index: 1;
}

.nav-bar ul li:hover .mega-menu {
  opacity: 1;
  visibility: visible;
}

.inner-mega-menu {
  width: 24%;
  float: left;
  margin-right: 1%;
}

.inner-mega-menu p {
  padding: 10px 0;
  transition: all 0.4s ease;
}

.inner-mega-menu:last-child {
  margin-right: 0%;
}

/* конец menu*/

.bigaction {
  background-color: #425DAC;
  height: 500px;
  width: 100%;
  color: white;
  position: relative;
  z-index: -1;
}

.bigaction h1 {
  /* font-family: "RobotoRegular"; */
  letter-spacing: 0.4px;
  /* font-weight: 500; */
  word-spacing: 3px;
  line-height: 1.2;
  padding-top: 20%;
  text-transform: uppercase;
  text-align: left;
}

.bigaction p {
  padding-top: 25px;
  text-align: left;
}

.imgbox {
  display: inline-block;
  margin-top: 5%;
  width: 530px;
  height: 400px;
  background-color: #111;
}

.tribloka {
  background-color: #ededed;
  position: absolule;
  /* height: 600px; */
  width: 100%;
}

/* для триблока */

.clearone {
  background-color: #ededed;
  height: 50px;
  clear: both;
}

.one {
  height: 316px;
  background-color: #fff;
  /* border: 1px solid black; */
  text-align: center;
  padding-bottom: 20px;
}

.one h1 {
  /* font-family: "RobotoRegular"; */
  padding-bottom: 20px;
  font: 700;
}

.one img {
  padding-top: 20px;
  padding-bottom: 20px;
}

.main_cats {
  background-color: #eee;
  /* padding: 50px 0; */
}

.main_cats h2 {
  padding: 50px 0 12px;
  /* margin-top: 50px; */
  text-transform: uppercase;
}

img.animate1:hover {
  filter: alpha (Opacity=25);
  /* прозрачность для IE */
  opacity: 0.55;
  /* прозрачность для других браузеров */
}

/* Конец: для три блока */

/* начало: Новости */

.news_cats {
  background-color: #eee;
  padding: 0 0 50px;
  /* font: 400 15px/20px 'Open Sans', sans-serif; */
}

.news_cats h2 {
  padding: 50px 0 12px;
  text-transform: uppercase;
}

.newsfat {
  font-weight: bold;
}

.newstri p {
  padding-top: 2px;
}

/* End: News */

.aboutone {
  /* font: 400 15px/20px 'Open Sans', sans-serif; */
  padding: 0 0 50px;
  /* background-color: #eee; */
  /* padding: 50px; */
}

.aboutone h2 {
  padding: 50px 0 12px;
  text-transform: uppercase;
}

/* Start: pytopx */

.pytopx {
  width: 100%;
  height: 12px;
  background-color: #ededed;
}

/* End: pytopx*/

.main_cats_dva {
  background-color: #ededed;
  height: 50px;
  width: 100%;
  /* padding: 50px 0; */
}

.main_cats_small {
  background-color: white;
  padding: 25px;
  font-size: 12px;
}

bigtext {
  height: 500px;
  width: 100%;
}

/* Start: footer */

.footer {
  color: #666666;
  width: 100%;
  background-color: #333333;
  padding-top: 20px;
  padding-bottom: 10px;
}

.footer p {
  margin-bottom: 14px;
}

.footer a {
  color: #666666;
  text-decoration: none;
}

.footer a:hover {
  color: #fff;
}

.footer ul {
  padding: 0;
  list-style: none;
}

.footer ul li {
  line-height: 30px;
}

.footer-contacts {
  text-align: right;
}

.tel_one_dva {
  margin-left: 20px;
  /* height: 50px; */
  line-height: 30px;
  font-size: 16px;
  /* background-color: #ee1; */
  display: block;
  text-align: right;
}

.tel_one_dva strong {
  display: block;
  color: #009adf;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

.tel_one_dva small {
  font-size: 14px;
}

/* End: footer*/